body {
  display: block;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #ff5733, #ff7933, #ff9e33, #ffbf33, #ffd833, #ffbf33);
  height: 100vh;
  margin: 0;
  padding: 0;
}

.entry {
  text-align: center; 
  display: flex;
  flex-direction: column;
  width: auto;
  margin-left: 23px;
}

.text{
  margin-bottom: 15px;
  font-family: Flamenco;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h3{
  // background-color: rgba(51, 51, 51, 0.8);
  width: 15rem;
  display: flex;
  justify-content: center;
  margin: inherit;
  text-align: center;
}


header, footer {
  display: flex;
  background-color: #333;
  padding: 10px 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  font-family: Flamenco;
}

header{
  top: 0;
  justify-content: flex-start;
  background: linear-gradient(to bottom, rgba(51, 51, 51, 0.5), rgba(51, 51, 51, 0));
}

footer{
  padding: 0;
  margin: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(51, 51, 51, 0.5), rgba(51, 51, 51, 0.1));
  background-image: url("../images/1563572.gif");
  background-size: auto 100%;
  background-position: center bottom;
  height: 15vh;
}


.nav-link {

  list-style-type: none;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.8);
  padding: 5px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.container {
  // display: inline; 
  margin-right: 5px; 
}

Nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

input{
  box-shadow: 2px 2px 0 0 white, 4px 4px 0 0 black;
  text-align: center;
  height: 25px;
  width: 15rem;
  border-radius: 5px;
  font-family: Flamenco;
  font-size: large;
}

button{
  margin-top: 20px;
  box-shadow: 2px 2px 0 0 white, 4px 4px 0 0 black;
  height: auto;
  border-radius: 5px;
  background: linear-gradient(to top, rgba(249, 1, 1, 0.9), rgba(161, 2, 2, 0.9));
  color:white;
  font-family: Flamenco;
  font-size: large;
  margin-right: 15px;
  text-align: center;
}

button:hover {
  cursor: pointer;
  transform: translate3d(10px, 0, 0);
  transition: transform 0.3s ease 0s;
  background-color: var(--clr-accent);
  box-shadow: 2px 2px 0 0 white, 4px 4px 0 0 black;
}

a.nav-link {
  color: black;
  margin-top: 23px;
}

a.nav-link:hover {
  cursor: pointer;
  letter-spacing: 0.25em;
  transition: 0.3s;
}

.form-col{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  height: 40vh;
}

.form-fields{
  margin-bottom: 10px;
}

.submit-button {
  border-radius: 5px;
  height: auto;
}

a {
  color: black
}